openapi: 3.1.0
x-stoplight:
  id: ttg042d6xbr8b
info:
  title: Core
  version: '1.0'
  summary: Core Swype API
servers:
  - url: 'https://api.swype.network'
paths:
  /v1/providers:
    get:
      summary: List Providers
      tags:
        - Providers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    x-stoplight:
                      id: 9z77e73gusos5
                    type: array
                    items:
                      $ref: '#/components/schemas/Provider'
                      x-stoplight:
                        id: v92ekdj4oh68p
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list-providers
      x-stoplight:
        id: rg2n8pfl1c2d3
      description: List Providers
    parameters: []
  /v1/transfers:
    post:
      summary: Create Transfer
      tags:
        - Transfers
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity (WebDAV)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: create-transfer
      x-stoplight:
        id: fnvjctol3ruwy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferCreateRequest'
      description: Create Transfer
    get:
      summary: List Transfers
      tags:
        - Transfers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    x-stoplight:
                      id: 0l5i6va15yooj
                    items:
                      $ref: '#/components/schemas/Transfer'
                      x-stoplight:
                        id: 8dmqlhbl63qjj
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list-transfers
      x-stoplight:
        id: gy6bsn4k4vp7n
      description: List Transfers
    parameters: []
  '/v1/transfers/{transferId}':
    parameters:
      - schema:
          type: string
        name: transferId
        in: path
        required: true
        description: Id of transfer
    get:
      summary: Get Transfer
      tags:
        - Transfers
      parameters:
        - in: header
          name: x-authorization-session-token
          required: false
          schema:
            type: string
            pattern: '^[0-9a-f]{64}$'
          description: Authorization session token from the deeplink flow. Provide this header instead of Authorization Bearer in wallet in-app browsers.
      security:
        - PrivyAuth: []
        - AuthorizationSessionToken: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get-transfer
      x-stoplight:
        id: 81eny5927aefb
      description: Get Transfer by Id
    patch:
      summary: Sign Transfer
      tags:
        - Transfers
      description: >
        Submit a passkey-signed UserOperation for a transfer. The transfer must
        be in AUTHORIZED status and have a signPayload prepared by the backend.
        On success, the signed UserOp is stored and ERC-20 send jobs are
        dispatched to the bundler.
        This endpoint accepts either a Privy bearer token or an
        x-authorization-session-token header.
      operationId: sign-transfer
      parameters:
        - in: header
          name: x-authorization-session-token
          required: false
          schema:
            type: string
            pattern: '^[0-9a-f]{64}$'
          description: Authorization session token from the deeplink flow. Provide this header instead of Authorization Bearer when signing inside wallet in-app browsers.
      security:
        - PrivyAuth: []
        - AuthorizationSessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferSignRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers: []
  '/v1/merchants/{merchantId}/public-key':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
        name: merchantId
        in: path
        required: true
        description: Merchant identifier used in the signed payment link.
    get:
      summary: Get Merchant Public Key
      tags:
        - Merchants
      operationId: get-merchant-public-key
      description: Fetch the active public key for a registered merchant so clients can verify signed payment links before rendering the payment UI.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantPublicKey'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/admin/merchants:
    get:
      summary: List Merchants
      tags:
        - Admin Merchants
      operationId: list-admin-merchants
      description: List registered merchants for internal admin management.
      security:
        - AdminCognitoAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminMerchant'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create Merchant
      tags:
        - Admin Merchants
      operationId: create-admin-merchant
      description: Register a merchant that can issue signed transfer authorizations.
      security:
        - AdminCognitoAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMerchantCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMerchant'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v1/admin/merchants/{merchantId}':
    parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 128
        name: merchantId
        in: path
        required: true
        description: Merchant identifier.
    get:
      summary: Get Merchant
      tags:
        - Admin Merchants
      operationId: get-admin-merchant
      description: Fetch full merchant details for internal admin management.
      security:
        - AdminCognitoAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMerchant'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Update Merchant
      tags:
        - Admin Merchants
      operationId: update-admin-merchant
      description: Update mutable merchant settings such as display name, status, signing algorithm, or public key.
      security:
        - AdminCognitoAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminMerchantUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminMerchant'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v1/admin/users/{email}':
    parameters:
      - schema:
          type: string
          format: email
        name: email
        in: path
        required: true
        description: The email address of the user to reset.
    delete:
      summary: Reset User
      tags:
        - Admin
      operationId: resetUser
      description: Completely wipes all data associated with a user identified by email address. Deletes passkeys, smart accounts, wallets, accounts, transfers, permit2 approvals, delegations, authorization sessions, and the user record itself.
      security:
        - AdminCognitoAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  email:
                    type: string
                    format: email
                required:
                  - message
                  - email
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/accounts:
    get:
      summary: List Accounts
      tags:
        - Accounts
      parameters:
        - in: query
          name: credentialId
          required: true
          schema:
            type: string
            minLength: 1
          description: WebAuthn credential ID used to scope account visibility.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    x-stoplight:
                      id: mqlbmii6opb81
                    items:
                      $ref: '#/components/schemas/Account'
                      x-stoplight:
                        id: lfciswiai71by
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list-accounts
      x-stoplight:
        id: r4333do5pqapj
      description: List Accounts
    post:
      summary: Create Account
      tags:
        - Accounts
      operationId: create-account
      description: Create a new account scoped to a credential. Uses upsert semantics — if an account with the same name and credentialId already exists, the existing account is returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v1/accounts/{accountId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: accountId
        in: path
        required: true
        description: Id of account
    get:
      summary: Get Account
      tags:
        - Accounts
      operationId: get-account
      description: Fetch a single account by ID with its wallets and authorization sessions. Uses DB-cached balances rather than live on-chain lookups, making it suitable for polling.
      parameters:
        - schema:
            type: string
          name: credentialId
          in: query
          required: true
          description: WebAuthn credential ID used to scope the account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete Account
      tags:
        - Accounts
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: delete-account
      description: Delete an account and all associated data (wallets, token balances, permit2 approvals, smart account delegations). This action is irreversible.
    patch:
      summary: Update Account
      tags:
        - Accounts
      operationId: update-account
      description: Update an account's nickname.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/v1/accounts/{accountId}/authorization-sessions':
    parameters:
      - schema:
          type: string
          format: uuid
        name: accountId
        in: path
        required: true
        description: Id of account
    post:
      summary: Create Authorization Session for Account
      tags:
        - Accounts
      operationId: create-account-authorization-session
      description: Creates a new authorization session for an existing account so the user can re-authorize their wallet (e.g. sign a new Permit2 with a higher allowance).
      security:
        - PrivyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountAuthorizationSessionCreateRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationSession'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/wallets:
    get:
      summary: List Wallets
      tags:
        - Wallets
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - items
                properties:
                  items:
                    type: array
                    x-stoplight:
                      id: jhuuxm7nvslbx
                    items:
                      $ref: '#/components/schemas/Wallet'
                      x-stoplight:
                        id: 1gd4bt6uwmo3w
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list-wallets
      x-stoplight:
        id: dycmnc8jos8ho
      description: List Wallets
    parameters: []
  /v1/chains:
    get:
      summary: List Chains
      tags:
        - Chains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chain'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: list-chains
      description: List all supported blockchain chains with their Swype identifiers
    parameters: []
  /v1/authorization-sessions:
    post:
      summary: Your POST endpoint
      tags: []
      responses: {}
      operationId: post-v1-authorization-sessions
      x-stoplight:
        id: wzygopnqci2ik
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                '':
                  type: string
                  x-stoplight:
                    id: 0evwq7yssirpw
  '/v1/authorization-sessions/{authorizationSessionId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: authorizationSessionId
        in: path
        required: true
        description: Id of authorization session
    get:
      summary: Get Authorization Session
      tags:
        - Authorization Sessions
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationSessionDetail'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get-authorization-session
      description: Get Authorization Session by Id. Returns session metadata and an ordered list of authorization actions. Returns 404 if the session does not exist or has expired. This endpoint is unauthenticated.
  '/v1/authorization-actions/{authorizationActionId}':
    parameters:
      - schema:
          type: string
          format: uuid
        name: authorizationActionId
        in: path
        required: true
        description: Id of authorization action
    patch:
      summary: Complete Authorization Action
      tags:
        - Authorization Actions
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationActionCompleteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationSessionDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: complete-authorization-action
      description: Report the completion of an authorization action with its result data. The server marks the action as completed, stores the result, and generates subsequent actions if applicable (e.g. SELECT_SOURCE after OPEN_PROVIDER; APPROVE_PERMIT2 and SIGN_PERMIT2 after SELECT_SOURCE). For SELECT_SOURCE, the client should submit result.selectedChainName and result.selectedTokenSymbol. Returns the updated authorization session detail with all actions. This endpoint is unauthenticated; validated via session expiry.
  /v1/users:
    patch:
      summary: Update User Config
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: patch-user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserConfigUpdateRequest'
      description: Update the authenticated user's configuration. Currently supports setting the default Permit2 allowance amount.
  /v1/users/config:
    get:
      summary: Get User Config
      tags:
        - Users
      security:
        - PrivyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserConfigResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: get-user-config
      description: Retrieve the authenticated user's configuration, including passkey registration status.
  /v1/users/config/passkey:
    post:
      summary: Register Passkey
      tags:
        - Users
      security:
        - PrivyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterPasskeyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: register-passkey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPasskeyRequest'
      description: Register a WebAuthn passkey credential for the authenticated user. The passkey is used for secure per-transfer signing.
    patch:
      summary: Update Passkey Activity
      tags:
        - Users
      security:
        - PrivyAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePasskeyActivityResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Passkey Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: update-passkey-activity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePasskeyActivityRequest'
      description: Report passkey activity (creation or verification) to update the last_active timestamp. Used to determine the most recently used passkey for signing.
components:
  schemas:
    TransferCreateRequest:
      title: TransferCreateRequest
      x-stoplight:
        id: 8oj9sp5w54mq8
      type: object
      examples:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          provider:
            - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              wallet:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                source:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  token:
                    name: USDC
          destinations:
            - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              chainId: 9e7fb22a-9e5b-420e-8fd7-e3454fcfd5fd
              currencies:
                - string
              address: string
          amount:
            amount: 0.25
            currency: USD
      required:
        - id
        - credentialId
        - merchantAuthorization
        - sources
        - destinations
        - amount
      properties:
        id:
          type: string
          x-stoplight:
            id: gzj5yjtooneeh
          format: uuid
          description: Unique id for idempotency
        credentialId:
          type: string
          minLength: 1
          description: WebAuthn credential ID used to scope this transfer and all authorization actions.
        merchantAuthorization:
          $ref: '#/components/schemas/MerchantAuthorization'
          description: Merchant-signed authorization envelope required for transfer creation.
        sources:
          type: array
          x-stoplight:
            id: 55elaaz1xpc1e
          description: Source of transfer
          items:
            x-stoplight:
              id: p3cw21nha034e
            anyOf:
              - $ref: '#/components/schemas/SourceByTokenId'
              - $ref: '#/components/schemas/SourceByWalletId'
              - $ref: '#/components/schemas/SourceByAccountId'
        destinations:
          type: array
          x-stoplight:
            id: 2noj9kacgbb28
          description: Accepted destinations of transfer
          items:
            x-stoplight:
              id: 8dqh3nvaywxyo
            type: object
            required:
              - chainId
              - token
              - address
            properties:
              chainId:
                type: string
                x-stoplight:
                  id: k2mxtgywd2whs
                format: uuid
                description: Chain id of destination
              token:
                type: object
                x-stoplight:
                  id: tnm2a9ky13k10
                required:
                  - address
                description: Accepted token of destination
                properties:
                  address:
                    type: string
                    x-stoplight:
                      id: z7fx3ut5xfpx2
                    description: 'Token contract address on the destination chain'
              address:
                type: string
                x-stoplight:
                  id: 7lqpr2q9ijk8m
                maxLength: 44
                minLength: 1
                example: '0x1a5FdBc891c5D4E6aD68064Ae45D43146D4F9f3a'
                description: Wallet address of destination
        amount:
          $ref: '#/components/schemas/Amount'
          x-stoplight:
            id: xw4iaxjodxbgy
          description: Transfer amount
      description: Create Transfer
    MerchantAuthorization:
      title: MerchantAuthorization
      type: object
      required:
        - merchantId
        - payload
        - signature
      properties:
        merchantId:
          type: string
          minLength: 1
          maxLength: 128
          description: Registered merchant identifier.
        payload:
          type: string
          description: Base64url-encoded JSON payload that the merchant signed.
        signature:
          type: string
          description: Base64url-encoded ECDSA signature over the payload string.
    MerchantPublicKey:
      title: MerchantPublicKey
      type: object
      required:
        - merchantId
        - algorithm
        - publicKey
      properties:
        merchantId:
          type: string
          description: Registered merchant identifier.
        algorithm:
          type: string
          description: Signature algorithm used by the merchant.
          example: ECDSA_P256_SHA256
        publicKey:
          type: string
          description: PEM-encoded merchant public key.
    MerchantStatus:
      title: MerchantStatus
      type: string
      enum:
        - ACTIVE
        - INACTIVE
      description: Merchant lifecycle status.
    MerchantAlgorithm:
      title: MerchantAlgorithm
      type: string
      enum:
        - ECDSA_P256_SHA256
      description: Merchant signing algorithm identifier.
    AdminMerchant:
      title: AdminMerchant
      type: object
      required:
        - id
        - merchantId
        - displayName
        - status
        - algorithm
        - publicKey
        - createDate
        - updateDate
      properties:
        id:
          type: string
          format: uuid
          description: Internal UUID for the merchant record.
        merchantId:
          type: string
          minLength: 1
          maxLength: 128
          description: Stable merchant identifier used in signed payment links.
        displayName:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable merchant name.
        status:
          $ref: '#/components/schemas/MerchantStatus'
        algorithm:
          $ref: '#/components/schemas/MerchantAlgorithm'
        publicKey:
          type: string
          minLength: 1
          description: PEM-encoded public key used to verify merchant signatures.
        allowedOrigins:
          type: array
          items:
            type: string
            format: uri
          description: Web origins permitted to embed the Swype checkout iframe (used in frame-ancestors CSP).
        iosBundleIds:
          type: array
          items:
            type: string
          description: iOS bundle identifiers for apple-app-site-association webcredentials.
        androidPackages:
          type: array
          items:
            $ref: '#/components/schemas/AndroidPackageConfig'
          description: Android package configurations for assetlinks.json.
        createDate:
          type: string
          format: date-time
          description: Timestamp when the merchant was created.
        updateDate:
          type: string
          format: date-time
          description: Timestamp when the merchant was last updated.
    AdminMerchantCreateRequest:
      title: AdminMerchantCreateRequest
      type: object
      required:
        - merchantId
        - displayName
        - status
        - algorithm
        - publicKey
      properties:
        merchantId:
          type: string
          minLength: 1
          maxLength: 128
          description: Stable merchant identifier used in signed payment links.
        displayName:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable merchant name.
        status:
          $ref: '#/components/schemas/MerchantStatus'
        algorithm:
          $ref: '#/components/schemas/MerchantAlgorithm'
        publicKey:
          type: string
          minLength: 1
          description: PEM-encoded public key used to verify merchant signatures.
        allowedOrigins:
          type: array
          items:
            type: string
            format: uri
          description: Web origins permitted to embed the Swype checkout iframe.
        iosBundleIds:
          type: array
          items:
            type: string
          description: iOS bundle identifiers for apple-app-site-association webcredentials.
        androidPackages:
          type: array
          items:
            $ref: '#/components/schemas/AndroidPackageConfig'
          description: Android package configurations for assetlinks.json.
    AdminMerchantUpdateRequest:
      title: AdminMerchantUpdateRequest
      type: object
      minProperties: 1
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 255
          description: Human-readable merchant name.
        status:
          $ref: '#/components/schemas/MerchantStatus'
        algorithm:
          $ref: '#/components/schemas/MerchantAlgorithm'
        publicKey:
          type: string
          minLength: 1
          description: PEM-encoded public key used to verify merchant signatures.
        allowedOrigins:
          type: array
          items:
            type: string
            format: uri
          description: Web origins permitted to embed the Swype checkout iframe.
        iosBundleIds:
          type: array
          items:
            type: string
          description: iOS bundle identifiers for apple-app-site-association webcredentials.
        androidPackages:
          type: array
          items:
            $ref: '#/components/schemas/AndroidPackageConfig'
          description: Android package configurations for assetlinks.json.
    AndroidPackageConfig:
      title: AndroidPackageConfig
      type: object
      required:
        - package_name
        - sha256_cert_fingerprints
      properties:
        package_name:
          type: string
          minLength: 1
          description: Android application package name (e.g. com.coolapp.payments).
        sha256_cert_fingerprints:
          type: array
          items:
            type: string
          description: 'SHA-256 certificate fingerprints for the signing key (e.g. AB:CD:EF:...).'
    Transfer:
      title: Transfer
      x-stoplight:
        id: kjhjx3o9kqdnp
      type: object
      description: Transfer
      required:
        - id
        - status
        - amount
        - createDate
        - updateDate
        - authorizationSessions
      properties:
        id:
          type: string
          x-stoplight:
            id: aogt0ba5km7q7
          format: uuid
          description: Unique id of transfer for idempotency
        amount:
          $ref: '#/components/schemas/Amount'
          description: Total transfer amount
        sources:
          x-stoplight:
            id: xyn1602tkp1ye
          type: array
          description: Resolved source of transfer
          items:
            $ref: '#/components/schemas/ResolvedSource'
            x-stoplight:
              id: twuwy0627vsqs
        destinations:
          type: array
          x-stoplight:
            id: kausz1xya4nlu
          description: Destinations of transfer
          items:
            x-stoplight:
              id: 1g70casqhs7ws
            type: object
            properties:
              id:
                type: string
                x-stoplight:
                  id: 535a1rajc3y7f
                format: uuid
                description: Unique id of destination
              chainId:
                type: string
                x-stoplight:
                  id: j8dtcp4oy601r
                format: uuid
                description: Id of chain
              address:
                type: string
                x-stoplight:
                  id: 77olhqv2so14k
                description: Address of wallet
              amount:
                $ref: '#/components/schemas/Amount'
                x-stoplight:
                  id: nln72q61t0um8
                description: Amount sent to destination
              token:
                type: object
                x-stoplight:
                  id: 78561sku3xos1
                description: Token of destination
                properties:
                  address:
                    type: string
                    x-stoplight:
                      id: n1go3kaj9xjcx
                    description: 'Token contract address on the destination chain'
                  symbol:
                    type: string
                    x-stoplight:
                      id: n1go3kaj9sym1
                    description: 'Token symbol (USDC, USDT, etc.)'
        status:
          $ref: '#/components/schemas/TransferStatus'
          x-stoplight:
            id: gchfxq673svlz
          description: Status of transfer
        createDate:
          type: string
          x-stoplight:
            id: j9z079b5xqhkf
          format: date-time
          description: Create date time of transfer in UTC
        updateDate:
          type: string
          x-stoplight:
            id: x3tmzvbn253t1
          format: date-time
          description: Latest update date of transfer in UTC
        authorizationSessions:
          type: array
          x-stoplight:
            id: 9j83diiv4uwc0
          description: Authorization sessions required to complete transfer
          items:
            $ref: '#/components/schemas/AuthorizationSession'
            x-stoplight:
              id: xeqls1dwwziix
        signPayload:
          type: object
          nullable: true
          description: >
            Unsigned UserOp and relay/bridge metadata. Present once the transfer
            reaches AUTHORIZED and the backend has prepared the signing payload.
            The client signs the UserOp with the user's passkey and submits it
            via PATCH /v1/transfers/{transferId}.
          properties:
            userOp:
              type: object
              description: The unsigned ERC-4337 UserOperation to be signed
            userOpHash:
              type: string
              description: ERC-4337 UserOp hash used as the WebAuthn challenge
            passkeyCredentialId:
              type: string
              description: WebAuthn credential ID bound to the smart account validator
            bridgeRelayAddress:
              type: string
              description: The bridge relay address to receive the ERC-20 transfer
            tokenSymbol:
              type: string
              description: The ERC-20 token symbol (e.g. USDC)
            chainName:
              type: string
              description: The source chain name (e.g. Base)
            amount:
              type: string
              description: Transfer amount in the token's smallest unit
            estimatedFeeUsd:
              type: string
              description: Estimated bridge/relay fee in USD
    TransferSignRequest:
      title: TransferSignRequest
      type: object
      description: Request body to submit a passkey-signed UserOperation for a transfer
      required:
        - signedUserOp
      properties:
        signedUserOp:
          type: object
          description: The passkey-signed ERC-4337 UserOperation
          required:
            - sender
            - nonce
            - callData
            - signature
          properties:
            sender:
              type: string
            nonce:
              type: string
            callData:
              type: string
            signature:
              type: string
    Provider:
      title: Provider
      x-stoplight:
        id: 1zfa7jzqq5rdr
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          x-stoplight:
            id: xmfdcv7n3to8i
          format: uuid
          description: Unique id of provider
        name:
          type: string
          x-stoplight:
            id: qhu59s9qc23bo
          description: 'Name of provider (Metamask, Base, etc)'
        logoURI:
          type: string
          x-stoplight:
            id: 01jrzklxqe5wf
          format: uri
          description: URI of provider logo if available
    Chain:
      title: Chain
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: string
          format: uuid
          description: Unique Swype identifier for the chain
        name:
          type: string
          description: 'Human-readable name of the chain (e.g. Base, Ethereum Mainnet)'
        commonId:
          type: integer
          nullable: true
          description: 'Standard EVM numeric chain ID (e.g. 1 for Ethereum Mainnet, 8453 for Base)'
    Amount:
      title: Amount
      x-stoplight:
        id: hwri4ftfo7cew
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          x-stoplight:
            id: 1y5olrp4t3aoj
          type: number
          format: double
          minimum: 0.25
          multipleOf: 0.01
          example: 4.54
          description: Amount
        currency:
          x-stoplight:
            id: qri7yp9odaxbw
          type: string
          example: USD
          default: USD
          description: Currency (USD)
    SourceByTokenId:
      title: SourceByTokenId
      x-stoplight:
        id: rok5nebvgsn3y
      type: object
      required:
        - tokenId
      properties:
        tokenId:
          type: string
          x-stoplight:
            id: kd1bo9itg8wsv
          format: uuid
          description: Source by the token id (USDC in a specific wallet)
    SourceByWalletId:
      title: SourceByWalletId
      x-stoplight:
        id: 2jw4tq41uvoco
      type: object
      required:
        - walletId
      properties:
        walletId:
          type: string
          x-stoplight:
            id: pesfm5e8fu861
          description: Source from a specific wallet on a specific chain
        tokenAddress:
          type: string
          description: ERC-20 contract address of the selected source token. When provided, overrides the default token resolution.
    SourceByAccountId:
      title: SourceByAccountId
      x-stoplight:
        id: 39oo9cnloa9u8
      type: object
      required:
        - accountId
      properties:
        accountId:
          type: string
          x-stoplight:
            id: cuj3kklqknbtt
          format: uuid
          description: Source by account id
    ResolvedSource:
      title: ResolvedSource
      x-stoplight:
        id: kgtgtukm9wx1j
      type: object
      required:
        - id
        - status
        - provider
      properties:
        id:
          type: string
          x-stoplight:
            id: y6zbu3qo2xnch
          format: uuid
        status:
          type: string
          x-stoplight:
            id: 4wwcpsfhmtmi9
          enum:
            - REQUIRES_AUTHORIZATION
            - ACTIVE
            - FAILED
          description: Status of the resolved source
        provider:
          $ref: '#/components/schemas/Provider'
          x-stoplight:
            id: wgfylbgwwdfv1
        wallet:
          type: object
          x-stoplight:
            id: 0z3zrglgeagff
          properties:
            id:
              type: string
              x-stoplight:
                id: 7iela73hecl6i
              format: uuid
            address:
              type: string
              x-stoplight:
                id: gu17mv7aj7ygw
              description: Wallet address
        token:
          type: object
          x-stoplight:
            id: c44aqimlgbz28
          properties:
            symbol:
              type: string
              description: 'Token symbol (USDC, USDT, etc.)'
    Wallet:
      title: Wallet
      x-stoplight:
        id: btsl2knquu7qk
      type: object
      description: Wallet specific to a chain
      required:
        - id
        - name
        - status
        - sources
        - balance
        - chain
        - createDate
        - updateDate
      properties:
        id:
          type: string
          x-stoplight:
            id: n2yd2624t2bpf
          format: uuid
        name:
          type: string
          x-stoplight:
            id: xmkylnd91sycm
        status:
          $ref: '#/components/schemas/WalletStatus'
          x-stoplight:
            id: epagw6afdpf2g
        sources:
          type: array
          x-stoplight:
            id: ymsp5h0i3o4ob
          items:
            x-stoplight:
              id: tivl1giw8mhjg
            type: object
            required:
              - id
              - address
              - token
              - balance
            properties:
              id:
                type: string
                x-stoplight:
                  id: 9yln8qrmawyq0
                format: uuid
              address:
                type: string
                description: On-chain ERC-20 contract address
              token:
                type: object
                x-stoplight:
                  id: elsqba72fdmk1
                required:
                  - symbol
                  - status
                properties:
                  symbol:
                    type: string
                    x-stoplight:
                      id: tz1v26ehyj2b6
                  status:
                    $ref: '#/components/schemas/TokenStatus'
                    x-stoplight:
                      id: 4ns41mz554eaz
              balance:
                type: object
                x-stoplight:
                  id: if7mt7fio2o3r
                required:
                  - available
                  - total
                properties:
                  available:
                    $ref: '#/components/schemas/Amount'
                    x-stoplight:
                      id: aqd3o403fiwqr
                  total:
                    $ref: '#/components/schemas/Amount'
                    x-stoplight:
                      id: 89cewls8m8hq3
              remainingAllowance:
                type: number
                nullable: true
                description: >-
                  Remaining One-Tap allowance in USD for this specific token on
                  this chain. Null when no allowance has been configured or no
                  Permit2 approval exists for this token.
        accounts:
          type: array
          x-stoplight:
            id: baawe5wc94abe
          items:
            x-stoplight:
              id: zird62t94d3jh
            type: object
            required:
              - id
              - name
            properties:
              id:
                type: string
                x-stoplight:
                  id: ldvcv0hfh0lrk
                format: uuid
              name:
                type: string
                x-stoplight:
                  id: 3dwza2os2jqwd
              providers:
                type: array
                x-stoplight:
                  id: oyrdz63xzzgk5
                items:
                  $ref: '#/components/schemas/Provider'
                  x-stoplight:
                    id: 8ixwltwgmfhej
        balance:
          type: object
          x-stoplight:
            id: 8nuz1ntizuijs
          required:
            - available
            - total
          properties:
            available:
              $ref: '#/components/schemas/Amount'
              x-stoplight:
                id: 9qi03rp3er9g3
            total:
              $ref: '#/components/schemas/Amount'
              x-stoplight:
                id: sqtj895cpbhbe
        chain:
          type: object
          x-stoplight:
            id: 47v1ddj17xabb
          required:
            - id
            - name
          properties:
            id:
              type: string
              x-stoplight:
                id: jp8398ji1n512
              format: uuid
            name:
              type: string
              x-stoplight:
                id: r9hf0cklqx8gu
        createDate:
          type: string
          x-stoplight:
            id: og358pyl11d3v
          format: date-time
          description: Create date time of wallet in UTC
        updateDate:
          type: string
          x-stoplight:
            id: znyv5rfczn8k1
          format: date-time
          description: Latest update date of wallet in UTC
        authorizationSessions:
          type: array
          x-stoplight:
            id: 7w8fv89v3hyw0
          description: Authorization sessions required for wallet
          items:
            $ref: '#/components/schemas/AuthorizationSession'
            x-stoplight:
              id: dwmk43rza9l52
        lastAuthorizedToken:
          type: object
          x-stoplight:
            id: lat1auth2token
          nullable: true
          description: The token and chain most recently authorized via Permit2 for this wallet. Null if the wallet has never been authorized.
          properties:
            symbol:
              type: string
              x-stoplight:
                id: lat1sym2bol
              description: Token symbol (e.g. USDC)
            chainName:
              type: string
              x-stoplight:
                id: lat1chn2name
              description: Chain name (e.g. Base)
    TransferStatus:
      title: TransferStatus
      x-stoplight:
        id: ot13gpmsofhu5
      enum:
        - CREATED
        - REQUIRES_AUTHORIZATION
        - AUTHORIZED
        - PENDING
        - COMPLETED
        - FAILED
    WalletStatus:
      title: WalletStatus
      x-stoplight:
        id: e7vtrqapcnvvy
      enum:
        - CREATED
        - ACTIVE
        - REQUIRES_AUTHORIZATION
        - REQUIRES_PARTIAL_AUTHORIZATION
    TokenStatus:
      title: TokenStatus
      x-stoplight:
        id: 2hbk1b1zctm66
      enum:
        - ACTIVE
        - REQUIRES_AUTHORIZATION
    Error:
      title: Error
      x-stoplight:
        id: br11ijbd0qb2u
      type: object
      properties:
        code:
          type: string
          x-stoplight:
            id: 3c2ownj63007v
        message:
          type: string
          x-stoplight:
            id: sjcdqaj5ucbis
        details:
          type: array
          x-stoplight:
            id: xmxmsgqiqeii7
          items:
            x-stoplight:
              id: ilnaduamzr6xh
            type: object
            properties:
              code:
                type: string
                x-stoplight:
                  id: m5hbqclegc1gy
              message:
                type: string
                x-stoplight:
                  id: jr752cxp54n5p
        traceId:
          type: string
          x-stoplight:
            id: rwev80o94reyb
          format: uuid
    Account:
      title: Account
      x-stoplight:
        id: 7vnbyv9jvflqd
      type: object
      required:
        - id
        - name
        - wallets
        - createDate
        - updateDate
      properties:
        id:
          type: string
          x-stoplight:
            id: zb3elg2sei1ea
          format: uuid
        name:
          type: string
          x-stoplight:
            id: pazfl1s3wle1w
        nickname:
          type: string
          nullable: true
          description: Optional user-chosen display name for this account.
        wallets:
          type: array
          x-stoplight:
            id: gluewvsgw4cia
          items:
            $ref: '#/components/schemas/Wallet'
            x-stoplight:
              id: ptqviqa40gbv2
        createDate:
          type: string
          x-stoplight:
            id: lgildxuny5lpz
          format: date-time
        updateDate:
          type: string
          x-stoplight:
            id: w4bxfwp0jwizc
          format: date-time
        authorizationSessions:
          type: array
          x-stoplight:
            id: l8o6yarw2a5w0
          items:
            $ref: '#/components/schemas/AuthorizationSession'
            x-stoplight:
              id: z5q9sc2r1butr
        remainingAllowance:
          type: number
          nullable: true
          description: >-
            Remaining One-Tap allowance in USD for this account, calculated as
            defaultAllowance minus the sum of completed transfer amounts since the
            last Permit2 approval. Null when no allowance has been configured.
      description: Account which contains a list of wallets
    AuthorizationSession:
      title: AuthorizationSession
      x-stoplight:
        id: cixhozwyz0kcn
      type: object
      required:
        - id
        - status
      properties:
        id:
          type: string
          x-stoplight:
            id: v10ybwo88vej4
          format: uuid
        status:
          type: string
          x-stoplight:
            id: ycpb9alsk5bw2
        uri:
          type: string
          x-stoplight:
            id: f4ecf4cwgn8w8
    AuthorizationSessionDetail:
      title: AuthorizationSessionDetail
      type: object
      description: Authorization session with its ordered list of actions
      required:
        - id
        - status
        - actions
      properties:
        id:
          type: string
          format: uuid
          description: Unique id of authorization session
        status:
          type: string
          description: Status of authorization session
        uri:
          type: string
          description: Deep-link URI for the authorization session
        selectedTokenAddress:
          type: string
          description: Pre-selected ERC-20 token contract address for authorization. When present, the auth UI uses this to override the default source selection.
        selectedChainId:
          type: integer
          description: Pre-selected EVM numeric chain ID (e.g. 8453 for Base). When present, the auth UI uses this to override the default source selection.
        actions:
          type: array
          description: Ordered list of authorization actions to be performed sequentially
          items:
            $ref: '#/components/schemas/AuthorizationAction'
    AuthorizationAction:
      title: AuthorizationAction
      type: object
      description: A single authorization action to be performed within a session
      required:
        - id
        - type
        - status
        - orderIndex
      properties:
        id:
          type: string
          format: uuid
          description: Unique id of authorization action
        type:
          $ref: '#/components/schemas/AuthorizationActionType'
          description: Type of authorization action
        status:
          type: string
          description: Status of authorization action
        orderIndex:
          type: integer
          description: Execution order of the action within the session (ascending)
        metadata:
          type: object
          description: >
            Action-specific parameters. For OPEN_PROVIDER, may include
            `wagmiConnectorId` (string) identifying which Wagmi connector
            the client should use to open the correct wallet. For
            SELECT_SOURCE, includes `options` (sorted source candidates) and
            `recommended` (top default source). For SWITCH_CHAIN, includes
            `targetChainId` (hex chain id like "0x2105").
          properties:
            wagmiConnectorId:
              type: string
              description: >
                The Wagmi connector ID corresponding to the provider the
                user selected (e.g. "metaMask", "coinbaseWalletSDK").
                Present only on OPEN_PROVIDER actions.
            targetChainId:
              type: string
              description: >
                Required for SWITCH_CHAIN actions. Hex-encoded EVM chain id
                that the wallet must switch to (e.g. "0x2105").
            options:
              type: array
              description: >
                Sorted source options for SELECT_SOURCE actions. The first
                option is the server-ranked default.
              items:
                type: object
                required:
                  - chainName
                  - chainId
                  - tokenSymbol
                  - tokenAddress
                  - decimals
                  - rawBalance
                properties:
                  chainName:
                    type: string
                  chainId:
                    type: string
                  tokenSymbol:
                    type: string
                  tokenAddress:
                    type: string
                  decimals:
                    type: integer
                  rawBalance:
                    type: string
            recommended:
              type: object
              description: >
                The recommended default for SELECT_SOURCE, which matches the
                first entry in metadata.options.
              required:
                - chainName
                - tokenSymbol
              properties:
                chainName:
                  type: string
                tokenSymbol:
                  type: string
            selectionPolicy:
              type: string
              description: Optional human-readable summary of server ranking policy.
    AuthorizationActionType:
      title: AuthorizationActionType
      enum:
        - OPEN_PROVIDER
        - SELECT_SOURCE
        - SWITCH_CHAIN
        - CREATE_SMART_ACCOUNT
        - DEPLOY_SMART_ACCOUNT
        - APPROVE_PERMIT2
        - SIGN_PERMIT2
    AuthorizationActionCompleteRequest:
      title: AuthorizationActionCompleteRequest
      type: object
      description: Request body to report the completion of an authorization action
      required:
        - status
        - result
      properties:
        status:
          type: string
          enum:
            - COMPLETED
          description: The completion status of the action
        result:
          type: object
          description: >
            Action-specific result data (e.g. accounts and chainId from
            OPEN_PROVIDER; selectedChainName and selectedTokenSymbol from
            SELECT_SOURCE).
    UserConfig:
      title: UserConfig
      type: object
      description: User-level configuration preferences
      properties:
        defaultAllowance:
          type: number
          minimum: 0
          description: Default Permit2 allowance amount (in USD). When set, the SDK will request this amount during Permit2 signing so future transfers within this threshold can skip re-authorization.
        passkey:
          type: object
          nullable: true
          description: Most recent registered WebAuthn passkey credential, or null if none registered. Kept for backward compatibility; prefer passkeys array.
          properties:
            credentialId:
              type: string
              description: Base64-encoded WebAuthn credential ID
            publicKey:
              type: string
              description: Base64-encoded SPKI public key
            lastVerificationToken:
              type: string
              nullable: true
              description: UUID written during the most recent popup verification. Used as a server-side fallback when BroadcastChannel/postMessage are blocked by Safari ITP.
        passkeys:
          type: array
          description: All registered WebAuthn passkey credentials for this user
          items:
            type: object
            properties:
              credentialId:
                type: string
                description: Base64-encoded WebAuthn credential ID
              publicKey:
                type: string
                description: Base64-encoded SPKI public key
              lastVerificationToken:
                type: string
                nullable: true
                description: UUID written during the most recent popup verification. Used as a server-side fallback when BroadcastChannel/postMessage are blocked by Safari ITP.
    UserConfigUpdateRequest:
      title: UserConfigUpdateRequest
      type: object
      description: Request body for updating user configuration
      required:
        - config
      properties:
        config:
          $ref: '#/components/schemas/UserConfig'
    UserConfigResponse:
      title: UserConfigResponse
      type: object
      description: Response after updating user configuration
      required:
        - id
        - config
      properties:
        id:
          type: string
          format: uuid
          description: Internal user ID
        config:
          $ref: '#/components/schemas/UserConfig'
    RegisterPasskeyRequest:
      title: RegisterPasskeyRequest
      type: object
      description: Request body to register a WebAuthn passkey credential
      required:
        - credentialId
        - publicKey
      properties:
        credentialId:
          type: string
          description: Base64-encoded WebAuthn credential ID
        publicKey:
          type: string
          description: Base64-encoded SPKI public key from the WebAuthn attestation response
    RegisterPasskeyResponse:
      title: RegisterPasskeyResponse
      type: object
      description: Response after registering a passkey
      required:
        - hasPasskey
      properties:
        hasPasskey:
          type: boolean
          description: Always true after successful registration
    UpdatePasskeyActivityRequest:
      title: UpdatePasskeyActivityRequest
      type: object
      description: Request body to report passkey activity (verification or usage)
      required:
        - credentialId
      properties:
        credentialId:
          type: string
          description: Base64-encoded WebAuthn credential ID of the passkey that was just verified
        verificationToken:
          type: string
          format: uuid
          description: UUID generated by the caller before opening the popup. Stored on the passkey row so the opener can confirm verification via server-side check when client-side channels are blocked.
    UpdatePasskeyActivityResponse:
      title: UpdatePasskeyActivityResponse
      type: object
      description: Response after updating passkey activity
      required:
        - updated
      properties:
        updated:
          type: boolean
          description: Always true after successful update
    AccountCreateRequest:
      title: AccountCreateRequest
      type: object
      description: Request body for creating a new account and its authorization session.
      required:
        - name
        - credentialId
        - providerId
      properties:
        id:
          type: string
          format: uuid
          description: Client-supplied UUID v4 used as the account ID and idempotency key. If omitted, a random UUID is generated server-side.
        name:
          type: string
          minLength: 1
          description: Display name for the account (e.g. the wallet provider name).
        credentialId:
          type: string
          minLength: 1
          description: WebAuthn credential ID used to scope the account.
        providerId:
          type: string
          format: uuid
          description: ID of the wallet provider to authorize with (e.g. MetaMask, Coinbase Wallet).
        nickname:
          type: string
          minLength: 1
          description: Optional user-chosen display name for this account.
    AccountUpdateRequest:
      title: AccountUpdateRequest
      type: object
      description: Request body for updating an account.
      required:
        - nickname
      properties:
        nickname:
          type: string
          nullable: true
          minLength: 1
          description: User-chosen display name for this account, or null to clear.
    AccountAuthorizationSessionCreateRequest:
      title: AccountAuthorizationSessionCreateRequest
      type: object
      description: Request body for creating a new authorization session on an existing account (e.g. to re-authorize with a higher Permit2 allowance or authorize a different token).
      required:
        - credentialId
      properties:
        credentialId:
          type: string
          minLength: 1
          description: WebAuthn credential ID used to scope the account.
        tokenAddress:
          type: string
          pattern: '^0x[0-9a-fA-F]{40}$'
          description: Optional ERC-20 token contract address to pre-select for authorization.
        chainId:
          type: integer
          description: Optional EVM numeric chain ID (e.g. 8453 for Base) to pre-select for authorization.
  securitySchemes:
    PrivyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: A Privy user access token. Obtain this via the Privy SDK and pass it in the Authorization header.
    AdminCognitoAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: A Cognito access token issued to an authenticated admin user.
    AuthorizationSessionToken:
      type: apiKey
      in: header
      name: x-authorization-session-token
      description: Authorization session token (64-char hex) used for transfer signing in deeplink wallet flows.
security:
  - PrivyAuth: []
